# 1. 파이썬 가상환경 및 캐시
.venv/
venv/
env/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# 3. Git 및 기타 설정 파일
.git/
**/.ipynb_checkpoints/
.env

# 4. 데이터 파일 (모든 하위 폴더 포함)
**/*.csv
**/*.xlsx
**/*.parquet
**/*.json

# 5. 대용량 모델 파일 (볼륨 마운트로 주입)
models/
**/models/*.pkl
data/