#===============================================
# Python
#===============================================
.env
.venv/
venv/
__pycache__/
*.__pycache__
*.pyc
*.csv
*.xlsx
*.pkl
.ipynb_checkpoints/
*.json
*.parquet
