fastapi
uvicorn
sqlalchemy
pymysql
pydantic
dotenv
bcrypt==4.0.1 # passlib 1.7.x버전은 bcrypt 4.x버전과 호환됨
passlib
jose
python-jose
numpy
pandas
scikit-learn
joblib
polars
pyarrow
pyjwt
lightgbm==3.3.5
holidays
